<div class="mt_100 wrap__ordered container">
  <h1 class="title title__item__ordered">
    Order Management
  </h1>
  <div class="list__item mt_24">
    {{#each listItems}}
      <div class="item__recieved">
        <img
          class="thumbnail___item"
          src="{{this.productID.link_image}}"
          alt="{{this.productID.nameproduct}}"
        />
        <h5 class="name__ordered">
          {{this.productID.nameproduct}}
        </h5>
        <h5>Amount : {{this.amount}}</h5>
        <button class="button__deliver">{{this.status}}!!</button>
        <button class="button__refuse">refuse to deliver !!</button>
      </div>
    {{/each}}
  </div>
</div>

<script>
  $(window).ready( function() { const modal = $('#modal'); const buttonRefuse =
  $('.button__refuse'); const buttonCloseModal = $('.btn__close__modal');
  buttonRefuse.click( function() { modal.removeClass('hidden'); })
  buttonCloseModal.click( function() { modal.addClass('hidden'); }) })
</script>