<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/resetcss.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/form.css" />
    <script src="/js/index.js"></script>
    <script src="/js/detailProduct.js"></script>
    {{! <link rel="stylesheet" href="/css/style.css" /> }}

  </head>

  <body>
    <div id="wrap">
      <div class="header container">
        <div class="header__util">
          <a href="/" class="name__shop">WebShop</a>
          <div class="header__search">
            <form action="/" method="GET">
              <input
                type="search"
                name="search"
                class="input__search"
                placeholder="Search"
              />
              <button type="submit" class="hidden"></button>
            </form>
            <div class="search__nav">
              <i class="icon__search bx bx-search"></i>
            </div>
          </div>
          <div class="header__wallet">
            <i class="bx bx-coin-stack icon__wallet"></i>
            <h1>Coins</h1>
            <span>123.222</span>
          </div>
        </div>
        <div class="header__info">
          <i class="bx bxs-heart"></i>
          <a href="/shop/store/ordered" class="nofication__recieved">
            <div class="icon__nofication">
              <i class="bx bxs-bell"></i>
              {{#if shopStore}}
                {{{getLength shopStore}}}
              {{/if}}
            </div>
            {{#if shopStore }}
              <ul class="list__recieved">
                <h1 class="titile__order__received">Order received</h1>
                <div class="wrap__list__recievied">
                  {{#each shopStore}}
                    <div
                      href="/shop/store/ordered"
                      class="list__recieved__item"
                    >
                      <img
                        src="{{this.productID.link_image}}"
                        alt="{{this.productID.nameproduct}}"
                      />
                      <span
                        class="list__recieved__item__name"
                      >{{this.productID.nameproduct}}</span>
                      <div class="name__user__ordered">
                        <span>Admin</span>
                        <span class="list__recieved__item__time">2 ngay truoc</span>
                      </div>
                    </div>
                  {{/each}}

                </div>
              </ul>
            {{/if}}
          </a>
          <a href="/user/cart/store" class="wrapp__cart">
            <i class="bx bxs-cart-alt"></i>
            {{{showAmountCart countCart}}}
          </a>
          <div class="avatar">
            <i class="bx bx-menu icon__active">
              <ul class="menu__user">
                {{{showLoginRegister}}}
                {{{showChangePass}}}
                {{{showOptionsAdmin}}}
                {{{showOptionsUser}}}

                {{{showLogOut}}}
                <i class="bx bx-x icon__close"></i>
              </ul>
            </i>

            {{{showAvatar}}}
            {{{showuser}}}
          </div>
        </div>
      </div>

      {{{body}}}
    </div>

    <div class="modal__nofitication hidden">
      <i class="fa-regular fa-circle-check"></i>
      <span>Order sucessfully!!</span>
      <i class="fa-solid fa-xmark icon__close__nofi"></i>
    </div>
    <script src="/js/validation.js"></script>
    <script>
      validation("#form__login__validate");
      validation("#form__register__validate");
    </script>
  </body>
</html>

<div id="modal" class="hidden">
  <div class="modal__wrapper container">
    <div class="modal__title title">
      <h1>Delete?</h1>
    </div>
    <div class="modal__content">
      Are you sure you want to delete? cannot restore..
    </div>
    <div class="modal__footer">
      <button class="btn btn-primary btn__close__modal">Close</button>
      <button class="btn btn-danger btn__force__delete__modal">Remove</button>
    </div>
  </div>
</div>