<div class="wrap__store mlr_100">
  <div class="list__product">
    <div class="list__product__header">
      <ul class="list__product__header__nav">
        <li>Product</li>
        <li>Name</li>
        <li>Unit Price</li>
        <li>Quantity</li>
        <li>Total</li>
      </ul>

    </div>
    <div class="list__product__info">
      {{#each listItems}}
        <div class="list__product__info__item">
          <div class="list__product__info__item__img">
            <i
              class="bx bx-x icon__remove"
              data-id="{{this.productID._id}}"
            ></i>
            <img src="{{this.productID.link_image}}" alt="" />
          </div>
          <span
            class="list__product__info__item__name"
          >{{this.productID.nameproduct}}</span>
          <span class="list__product__info__item__cost">$
            {{this.productID.cost}}</span>
          <div class="list__product__info__item__amount">
            <span data-id="{{this.productID._id}}" class="icon__p">-</span>
            <span class="count__product">{{this.amount}}</span>
            <span data-id="{{this.productID._id}}" class="icon__n">+</span>
          </div>
          <span class="list__product__info__item__cost total__cost">$
            {{this.productID.cost}}</span>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="list__product__header__detail">
    <h1>Cart Totals</h1>
    <ul>
      <li>
        <span>Subtotal</span>
        <span>$ {{sumTotals}}</span>
      </li>
      <li>
        <span>Shipping</span>
        <span>$ 24</span>
      </li>
      <li>
        <span>Total</span>
        <span>$ {{calTotals sumTotals}}</span>
      </li>
    </ul>

    <h5><span>Payable Total</span>
      <span>$ {{calTotals sumTotals}}</span></h5>
    <button class="list__product__header__detail__pay">
      Proceed to Checkout
    </button>
  </div>
</div>

<form method="POST" class="form__action">
    {{#each listItems}}
      <input
          name="productID"
          type="text"
          class="hidden input__buy__item"
          value="{{this.productID._id}}"
        />
        <input class="hidden" name="amount" value="{{this.amount}}"/>
      {{/each}}
</form>

<script>
  const iconBuyAllProdut = $('.list__product__header__detail__pay');
  const formAction = $('.form__action');
  const input = $('.input__buy__item');
  
  iconBuyAllProdut.click( function () {
    formAction.attr('action', `/user/product/orderMutil`);
    formAction.submit();
  });

</script>