<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >Search</button>
  </form>
</nav>
<div class="content__cart">
  <div class="nav__genre">
    <ul>
      <li><a href="#">Đồ gia dụng</a></li>
      <li><a href="#">Đồ gia dụng</a></li>
      <li><a href="#">Đồ gia dụng</a></li>
      <li><a href="#">Đồ gia dụng</a></li>
      <li><a href="#">Đồ gia dụng</a></li>
    </ul>
  </div>
  <div class="list__cart">
    {{#each products}}
      <a style="color: #000;"href="/user/product/detail/{{this._id}}">
        <div class="sub__item">
          <img src="{{this.link_image}}" alt="" />
          <span class="title__cart">
            {{this.description}}
          </span>
          <div class="footer__cart">
            <span class="cost__cart">đ{{this.cost}}</span>
            <button class="add__cart" data-id="{{this._id}}">Add cart</button>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>

<form method="POST" action="" class="form__add__product"></form>

{{! linh detail product }}
<script>

  const btnAddCart = $('.add__cart');
  const formAddProduct = $('.form__add__product');
  console.log(formAddProduct); 

  btnAddCart.click( function(e) {
    e.preventDefault();
    const idCartAdd = $(this).data('id');
    formAddProduct.attr("action", `/user/cart/store/${idCartAdd}?_method=PUT`);
    formAddProduct.submit();
  })

</script>