
<form method="POST" action="" class="form__add__product"></form>

<div class="wrap__content">
  <div class="slider container">
    <i class="bx bx-chevron-left icon__pre"></i>
    <i class="bx bx-chevron-right icon__next"></i>
    <div class="slider__list">
      <div class="wrap__slider__list">
        <img
          class="slider__img"
          src="https://www.inithtml.com/wp-content/uploads/2017/04/javascript.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2018/11/what-is-html-3.webp"
          alt=""
        />
        <img
          class="slider__img"
          src="https://www.nafrontendzie.pl/assets/featured/podstawy-react.png"
          alt=""
        />
        <img
          class="slider__img"
          src="https://images.ctfassets.net/aq13lwl6616q/7cS8gBoWulxkWNWEm0FspJ/c7eb42dd82e27279307f8b9fc9b136fa/nodejs_cover_photo_smaller_size.png"
          alt=""
        />
        <img
          class="slider__img"
          src="https://tuhoclaptrinh.edu.vn/upload/post/16/06/70/tim-hieu-ve-vuejs-318818.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://evondev.com/wp-content/uploads/2020/04/css-tips-tricks.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://fptcloud.com/wp-content/uploads/2022/01/giai-dap-nhung-cau-hoi-ve-javascript-1.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://cafedev.vn/wp-content/uploads/2019/12/cafedev_java13.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://www.inithtml.com/wp-content/uploads/2017/04/javascript.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2018/11/what-is-html-3.webp"
          alt=""
        />
        <img
          class="slider__img"
          src="https://www.nafrontendzie.pl/assets/featured/podstawy-react.png"
          alt=""
        />
        <img
          class="slider__img"
          src="https://images.ctfassets.net/aq13lwl6616q/7cS8gBoWulxkWNWEm0FspJ/c7eb42dd82e27279307f8b9fc9b136fa/nodejs_cover_photo_smaller_size.png"
          alt=""
        />
        <img
          class="slider__img"
          src="https://tuhoclaptrinh.edu.vn/upload/post/16/06/70/tim-hieu-ve-vuejs-318818.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://evondev.com/wp-content/uploads/2020/04/css-tips-tricks.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://fptcloud.com/wp-content/uploads/2022/01/giai-dap-nhung-cau-hoi-ve-javascript-1.jpg"
          alt=""
        />
        <img
          class="slider__img"
          src="https://cafedev.vn/wp-content/uploads/2019/12/cafedev_java13.jpg"
          alt=""
        />
      </div>
      <!-- <div class="nav__img">
              <div class="active" data-id="1"></div>
              <div data-id="2"></div>
              <div data-id="3"></div>
              <div data-id="4"></div>
            </div> -->
    </div>
  </div>

  <div class="content container">
    <div class="content__navigation">
      <ul>
        <li class="active_nav">All Products</li>
        <li>Top sales</li>
        <li>Promo</li>
        <li>La Crystal</li>
        <li>Cleanizer</li>
        <li>Tonnerb</li>
        <li>Serumb</li>
      </ul>
    </div>

    <div class="content__product">
      {{#each products}}
        {{!-- <a style="color: #000;" href="/user/product/detail/{{this._id}}">
        <div class="sub__item">
          <img src="{{this.link_image}}" alt="" />
          <span class="title__cart">
            {{this.description}}
          </span>
          <div class="footer__cart">
            <span class="cost__cart">đ{{this.cost}}</span>
            <button class="add__cart" data-id="{{this._id}}">Add cart</button>
          </div>
        </div>
      </a> --}}
        <a href="/user/product/detail/{{this._id}}" class="content__item">
          <img src="{{this.link_image}}" alt="" />
          <div class="content__item__info">
            <div class="content__item__info__title">
              <h5>{{this.nameproduct}}</h5>
              <p>
                {{this.description}}
              </p>
            </div>
            <div class="content__item__info__icon">
              <span> đ{{this.cost}}.000 </span>
              <button class="button__primary">Buy</button>
            </div>
          </div>
        </a>
      {{/each}}

    </div>

  </div>
</div>

{{! linh detail product }}
<script>

  const btnAddCart = $('.add__cart'); const formAddProduct
  =$('.form__add__product'); console.log(formAddProduct);
  btnAddCart.click(function(e) { e.preventDefault(); const idCartAdd =
  $(this).data('id'); formAddProduct.attr("action",
  `/user/cart/store/${idCartAdd}?_method=PUT`); formAddProduct.submit(); })

</script>