<div class="container mt-4">
  <h3>Edit product</h3>

  <form method="POST" action="/user/product/edit/{{product._id}}?_method=PUT">

    <div class="wrap__forom__create container mt_100">
      <div class="container form__create__item p_24">
        <h3 class="title mb_24">Update item</h3>

        <form method="POST" action="/user/create/store">

          <div class="form_group">
            <label for="name">Name : </label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="{{product.nameproduct}}"
            />

          </div>

          <div class="form_group">
            <label for="description">Description : </label>
            <input
              type="textarea"
              class="form-control"
              id="description"
              name="description"
              value="{{product.description}}"
            />
          </div>

          <div class="form_group">
            <label for="cost">Cost : </label>
            <input
              type="text"
              class="form-control"
              id="cost"
              name="cost"
              value="{{product.cost}}"
            />
          </div>
          <div class="form_group">
            <label for="linkimage">Link image : </label>
            <input
              type="text"
              class="form-control"
              id="linkimage"
              name="linkimage"
              value="{{product.link_image}}"
            />
          </div>

          <button
            type="submit"
            class="button__create button__nav right"
          >Update</button>
        </form>
      </div>

    </div>
  </form>
</div>