<form action="" class="form__action__my__cart" method="POST"></form>
<div class="row mt_100 mb_24">
  <h1 class="container title__my__cart">List product posted</h1>
  <a href="/user/product/listProductDeleted">
    <i class="bx bx-trash-alt icon__trash">
      <span>{{count}}</span>
    </i>
  </a>

</div>
<div class="container">
  <div class="list__product__header">
    <ul class="list__product__header__nav">
      <li>Product</li>
      <li>Name</li>
      <li>Unit Price</li>
      <li>Total</li>
    </ul>

  </div>
  <div class="list__product__info">
    {{#each products}}
      <div class="list__product__info__item">
        <div class="list__product__info__item__img ml_32">
          <i
            class="bx bx-x icon__remove__my_product"
            data-id="{{this._id}}"
          ></i>
          <img src="{{this.link_image}}" alt="" />
        </div>
        <span
          class="list__product__info__item__name ml_32"
        >{{this.nameproduct}}</span>
        <span class="list__product__info__item__cost">$
          {{this.cost}}</span>
        <span class="list__product__info__item__cost total__cost">$
          {{this.cost}}</span>
      </div>
    {{/each}}
  </div>
</div>

<script>
  const formActionMycart = $('.form__action__my__cart'); const
  iconRemoveMyProduct = $('.icon__remove__my_product');
  iconRemoveMyProduct.click(function() { var idProduct = $(this).data("id");
  formActionMycart.attr('action',
  `/user/product/softdelete/${idProduct}?_method=PUT`);
  formActionMycart.submit(); } );
</script>