<div class="container mt_100 wrap__ordered">
  <div class="title">
    Your order
  </div>
  <div class="list_ordered mt_24">
    <div class="item__ordered">
      {{#if item}}
        {{#each item}}
          <div class="info__ordered">
            <img src="{{this.productID.link_image}}" alt="" />
            <span class="name__ordered">
              {{this.productID.nameproduct}}
            </span>
            <span>
              Amout :
              {{this.amount}}
            </span>
            <span>Cost : {{getCost this.productID.cost this.amount}}</span>
            <div class="modi__ordered">
              <i class="fa-solid fa-truck-fast"></i>
              <span>Thanks for you to ordered!!!</span>
            </div>
            <div class="button__cancel_order" data-id="{{this.productID._id}}">
              Cancle ordered
              <i class="fa-regular fa-circle-xmark icon__cancle"></i>
            </div>
          </div>
        {{/each}}
      {{else}}
        <h1>You haven't order....!</h1>
      {{/if}}
    </div>
  </div>
</div>
<form method="POST" class="form__cancle__ordered">

</form>

<script>
  const buttonCancle = $(".button__cancel_order");
  const formCancle = $(".form__cancle__ordered");

  buttonCancle.click( function () {
    const idProduct = $(this).data('id');
    formCancle.attr('action', 
      `/user/product/order/delete/${idProduct}?_method=DELETE`
    );
    formCancle.submit();
  })
</script>